{% extends "base.html" %}
{% block title %} DApps {% endblock title %}

{% block second_column %}
    
        <div class="mt-4">
            <h2 class="text-2xl font-bold font-serif">Actions</h2>
            <div class="flex flex-row mt-3">
                <div class="flex flex-col">
                    <div><a href="#" class="text-lg">Connect DApp</a></div>
                </div>

                <div class="flex flex-col ml-6">
                    <div><a href="#" class="text-lg">Revoke Access</a></div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h2 class="text-2xl font-bold font-serif">Connected DApps</h2>
            <ul class="mt-3 list-disc pl-5">
                <li class="text-lg">Uniswap  - Last Interaction: 3 Days Ago</li>
                <li class="text-lg">OpenSea - Active Session</li>
                <li class="text-lg">Phantom -  Expired Session</li>
            </ul>    
        </div>

        <div class="mt-10 ml-20">
            <button class="rounded-full bg-black text-lg font-serif text-white pl-4 pr-4 pt-1 pb-2 hover:bg-gray-700">Show more</button>
        </div>
    </div>
</div>

{% endblock second_column %}