<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Phrase</title>
</head>
<body>
    <div class="flex justify-center">
        <h2 class="text-3xl font-serif text-black pt-20 md:text-4xl font-bold">Write down your Secret Recovery Phrase</h2>
    </div>

    <div class="flex justify-center">
        <p class="text-lg font-serif text-black pb-10 pt-5 sm:text-lg text-center">
            This is your Secret Recovery Phrase. Write it down on a paper or keep it in safe place. YOu will be asked to re-enter this phrase in the next step.
        </p>
    </div>

    <div class="border-2 border-gray-200 w-80 flex justify-center grid grid-cols-2 rounded-lg gap-4 mx-auto place-items-center p-8">
        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>1. First</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>2. Second</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>3. Third</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>4. Fourth</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>5. Fifth</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>6. Sixth</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>7. Seventh</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>8. Eighth</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>9. Nineth</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>10. Tenth</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>11. Eleventh</p>
        </div>

        <div class="border-2 border-gray-500 rounded-full w-30 flex justify-center">
            <p>12. Twelveth</p>
        </div>
    </div>

    <div class="text-center mt-10">
        <button class="rounded-full bg-black text-lg font-serif text-white pl-6 pr-6 pt-2 pb-2 hover:bg-gray-700">Continue</button>
    </div>
</body>
</html>