{% extends "base.html" %}
{% block title %} Settings {% endblock title %}

{% block second_column %}

        <div class="mt-5">
            <h2 class="text-2xl font-bold font-serif">Wallet Settings</h2>        
            <ul class="mt-3 list-disc pl-5">
                <li class="text-lg">Security - Enable 2FA</li>
                <li class="text-lg">Theme - Dark Mode</li>
                <li class="text-lg">Language - English</li>
                <li class="text-lg">Backup/Restore - Sync Wallet</li>
            </ul>    
        </div>

        <div class="mt-10 ml-20">
            <button class="rounded-full bg-black text-lg font-serif text-white pl-4 pr-4 pt-1 pb-2">Show more</button>
        </div>
    </div>
</div>

{% endblock second_column %}