<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Wallet</title>
</head>
<body>
    <div class="flex justify-center">
        <h2 class="text-3xl font-serif text-black pt-20 md:text-4xl font-bold">Create a Password</h2>
    </div>

    <div class="flex justify-center">
        <p class="text-lg font-serif text-black pb-10 pt-5 sm:text-lg text-center">This password will unlock your crypto wallet only on this device</p>
    </div>

    <form action="#">
        <div class="text-center">
            <label for="password" class="mr-5">New Password: </label>
            <input type="password" id="password" class="mt-2 mb-4 border-2 border-gray-500 rounded-lg w-76 md:ml-6">
        </div>

        <div class="text-center">
            <label for="confirm_password" class="mr-5">Confirm Password: </label>
            <input type="password" id="confirm_password" class="mt-2 border-2 border-gray-500 rounded-lg w-76">
        </div>
    </form>
</body>
</html>